	body{
		background-color: #000;
		font-family: sans-serif;
		color: #aaa;
	}

	a{
		color: #FFF;
	}

	a:hover{
		background-color: #FFF;
		color: #F00;
	}

	.filter-result{
		color: #FFF;
	}

	a.selected_filter{
		background-color: #A00;
	}

	a.filter-off{
		background-color: #330;
	}

	svg{
		vertical-align: top;
		padding: 10px;
	}

	.black{
		stroke:#FFF;
		stroke-width:0;
		fill:#000;
		shape-rendering: crispEdges;
	}

	.description{
		max-width: 500px;
		padding: 20px;
	}

	.white{
		stroke:#000;
		stroke-width:0;
		fill:#FFF;	
		shape-rendering: crispEdges;
	}

	.both{
		stroke:#fff;
		stroke-width:1;
		fill:#999;	
		shape-rendering: crispEdges;
	}

	.highlight{
		fill:#f00;
	}

	.line_highlight{
		stroke:#f00;
	}
	.branch_highlight{
		stroke:#FFF;
	}

	.player_name{
		display: inline-block;
		text-align: right;
		font-size: 0.7rem;
	}

	.tooltip{
		padding: 10px;
		border-width: 1px;
		border-style: solid;
		border-color: #333;
		position: absolute;
		z-index: 100;
		visibility: hidden;
	}

	.info_panel{
		padding: 10px;
		border-width: 1px;
		border-style: solid;
		border-color: 333;
		position: fixed;
		top: 0;
		left: 0;
		width:400px;
		z-index: 100;
		background-color:rgba(0,0,0,0.5);
	}



	#info_content{
		height: 500px;
		overflow-y: auto;
	}

	#info_content::-webkit-scrollbar {
		background: #000000;
		opacity: 0.6;
    }
	#info_content::-webkit-scrollbar-thumb {
	    background: #333;
	    -webkit-border-radius: 1ex;
	}

	.visualisation{
		position: relative;
	}
	#key{
		position: relative;
		padding: 10px;
	}
	.key_item{
		color: #000;
		display: inline;
		padding: 10px;
		font-weight: bold;
		margin-left: 10px;
	}
	#highlight_path{
		stroke:#FFF;
	}